.hug {
    background-color: #eee;
    flex: 1;
}

.heading {
    padding: 20px;
    width: 100wh;
    display: flex;
    flex: 1;
}

.name_table {
    color: #3e5569;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.wrapper {
    // padding: 20px;
    // background-color: #fff;
    // margin: 0 20px;
}
