.hug {
    background-color: #eee;
    flex: 1;
    margin: 64px 0 0 250px;
    height: 100vh;
}

.heading {
    padding: 20px;
    width: 100wh;
    display: flex;
    flex: 1;
}

.name_table {
    color: #3e5569;
    font-size: 20px;
    font-weight: 700;
}

.wrapper {
    padding: 20px;
    background-color: #fff;
    margin: 0 20px;
}

input,
textarea {
    padding: 5px;
    width: 100%;
    margin: 5px 0;
}

.content-fix {
    text-align: start !important;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-fix-2 {
    max-width: 150px;
}

.search {
    display: block;
    position: relative;
    margin-bottom: 20px;
    width: 220px;
}

.search-input {
    width: 100%;
    height: 30px;
    padding: 16px 12px;
    border-radius: 50px;
    outline: none;
    border: 1px solid #333;
    width: 250px;
    margin-left: 20px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: -15%;
    transform: translateY(-50%);
}
