.hug {
    background-color: #eee;
    flex: 1;
    margin: 64px 0 0 250px;
    height: 100vh;
}

.heading {
    padding: 20px;
    width: 100wh;
    display: flex;
    flex: 1;
}

.name_table {
    color: #3e5569;
    font-size: 20px;
    font-weight: 700;
}

.wrapper {
    padding: 20px;
    background-color: #fff;
    margin: 0 20px;
}

input {
    padding: 5px;
    width: 100%;
    margin: 5px 0;
}
